{% extends 'titulo.html' %}

{% block cuerpo %}

	<div class="container">
		<nav class="navbar navbar-light">
			<h2>{{nombre}}</h2>
			<a class="btn btn-outline-secondary my-2 my-sm-0" type="button" href='/sesion/id={{id}}'>Perfil</a>
			<a class="btn btn-outline-secondary my-2 my-sm-0" type="button" href='/sesion/id={{id}}/clientes'>Clientes</a>
			<a class="btn btn-outline-secondary my-2 my-sm-0" type="button" href='/sesion/id={{id}}/esquema'>Esquema</a>
			<a class="btn btn-outline-secondary my-2 my-sm-0" type="button" href='/sesion/id={{id}}/producciones/add'>Producciones</a>
			<a class="btn btn-outline-secondary my-2 my-sm-0" type="button" href="/logout">Cerrar Sesión</a>
		</nav>
		<hr><br>
		{% block subpagina %}
		<div class="row container card">
			<div class="col">
				<br>
				<h4>Gerente:  {{datos[0][0]}}</h4><br>
				<h4>Direccioón:  {{datos[0][1]}}</h4><br>
				<h4>Telefono:  {{datos[0][2]}}</h4><br>
			</div>
			<div class="col">
				<h4>Correo:  {{datos[0][3]}}</h4><br>
				<h4>Capacidad:  {{datos[0][4]}}</h4><br>
				<h4>Detalles:  {{datos[0][5]}}</h4><br>
			</div>
			<div class="col">
				<a class="btn btn-outline-secondary my-2 my-sm-0" type="button" href="/sesion/id={{id}}/eliminarcuenta">Eliminar Cuenta</a>
			</div>
		</div>
		
			
		{% endblock %}
		
	</div>

{% endblock %}