{% extends 'inicio_sesion.html' %}

{% block subpagina%}
	<script src="{{ url_for('static', filename='funciones.js') }}"></script>
	<div class="row">
		<h2>Esquema de Asientos - Bloque {{bloque}}</h2>
				<div class="col">
					<div class="container" style='border:1px solid black; width:700px; height:400px; text-align:center; line-height:50px; overflow-x: auto; overflow-y: scroll;'>
						{% for i in asientos %}
							<div class="row"  id="marco">
								<div class="col" style="text-align:center;">
								{% for j in i %}										
									<button class="btn btn-outline-info" type="button" style='margin: 10px; width:50px; height:50px; text-align:center;'
									> {{j}} </button>										
								{% endfor %}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="col container">
					<br><br>
					<h3>Número de Asientos</h3><br>
					<form action='/sesion/id={{id}}/esquema/idbloque={{idbloque}}' method="POST">
						<input type="text" id="Nasientos" name="Nasientos" class="form-control"><br>
						<button class="btn btn-outline-primary my-2 my-sm-0" type="submit" onclick="">Añadir Fila</button>
						<button class="btn btn-outline-primary my-2 my-sm-0" type="button" onclick="location.href='http://127.0.0.1:5000/sesion/id={{id}}/esquema/idbloque={{idbloque}}/deletefila'">Eliminar Fila</button>
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="button" onclick="location.href='http://127.0.0.1:5000/sesion/id={{id}}/esquema'">Atras</button>
						<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
					</form>
				</div>
	</div>
{% endblock %}